@import "../../../globalStyles/scss/variables-drural.scss";

body {
  .product-page {
    background-color: #f7f6f8;

    &__container {
      margin-top: 0;
    }

    &__product {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: $spacer * 3;

      @media (max-width: $small-screen) {
        display: block;
        padding-bottom: $spacer * 1.5;
      }

      &__description {
        width: 100%;
        min-height: $spacer * 10;
        margin-bottom: $spacer * 9;
      }

      &__info {
        flex-grow: 1;
        width: 30%;
        position: relative;

        @media (max-width: $medium-small-screen) {
          width: 100%;
        }

        &--fixed {
          top: 84px;
          position: sticky;
          width: auto;
        }

        &__report-service {
          align-items: center;
          display: flex;
          padding-top: 28px;

          @media (max-width: $small-screen) {
            padding-top: 20px;
          }

          button {
            margin-left: 0.5rem;
          }

        }
      }

      &__gallery {
        width: 64%;
        padding-right: $spacer * 3;
        box-sizing: border-box;

        @media (max-width: $medium-screen) {
          padding-right: $spacer * 2;
        }

        @media (max-width: $medium-small-screen) {
          width: 100%;
          padding: 0;
          margin-bottom: $spacer;
          padding: 0;
        }

        &__nav {
          li {
            display: inline-block;
            padding: $spacer / 2;

            span {
              width: $spacer / 2;
              height: $spacer / 2;
              border: 1px solid $druralGray_200;
              border-radius: $spacer / 2;
              display: block;
            }

            &.active {
              span {
                background-color: $primary;
                border-color: $primary;
              }
            }
          }
        }
      }

      &__name {
        margin-bottom: 18px;
      }
    }

    &__product-details {
      display: flex;
      flex-wrap: wrap;

      &__col-1 {
        flex-basis: 64%;
        padding-right: $spacer * 3;

        @media (max-width: $medium-screen) {
          padding-right: $spacer * 2;
        }

        @media (max-width: $medium-small-screen) {
          flex-basis: 100%;
          padding-right: 0;
        }
      }

      &__col-2 {
        flex-basis: 36%;

        @media (max-width: $medium-small-screen) {
          flex-basis: 100%;
        }
      }
    }

    &__other-products {
      background-color: $white;
      padding: $spacer * 4 0;

      &__container {
        margin-top: $spacer * 4.75;

        @media (max-width: $small-screen) {
          margin-top: $spacer * 3;
        }
      }

      &__title {
        margin-bottom: 54px;
        text-align: center;

        @media (max-width: $small-screen) {
          margin-bottom: $spacer;
        }
      }
    }
  }
}
