# common envs
API_URI=
APP_MOUNT_URI=
STATIC_URL=
# Mapbox
MAPBOX_TOKEN=
MAPBOX_STYLES_URL=
MK_DEFAULT_LATITUDE=
MK_DEFAULT_LONGITUDE=
# Storefront uri
STOREFRONT_URI=
CW_FRONTEND_URI=
# EUR to HRK conversion rate. If set money will be daisplay also in kunas
EUR_TO_HRK_RATE=